src/*.exe
src/applecoin
src/applecoind
src/test_applecoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.applecoin

# Compilation and Qt preprocessor part
*.qm
Makefile
applecoin-qt
Applecoin-Qt.app

# Unit-tests
Makefile.test
applecoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
